<?xml version="1.0" encoding="utf-8" ?>
<configuration realerror="0.008">
  <mensurations>
    <mensuration name="distance" caption="distance" tolerate="0.1" unit="meter" levels="3" levelNames="较近,中等,较远" range="[0.0-1.0]" typeName="NWSELib.DistanceMeasure" dimension="1" ></mensuration>
    <mensuration name="direction" caption="direction" tolerate="0.1" unit="degree" levels="8" levelNames="东,东南,南,西南,西,西北,北,东北" range="[0.0-1.0]" typeName="NWSELib.DirectionMeasure" dimension="1" ></mensuration>
    <mensuration name="heading" caption="heading" tolerate="0.05" unit="degree" levels="8" levelNames="东,东南,南,西南,西,西北,北,东北" range="[0.0-1.0]" typeName="NWSELib.HeadingMeasure" dimension="1" ></mensuration>
    <mensuration name="rotate" caption="rotate" tolerate="0.15" unit="degree" levels="8" levelNames="-180度,-135度,-90度,-45度,0度,45度,90度,135度,180度" range="[0.0-1.0]" typeName="NWSELib.RotateMeasure" dimension="1" ></mensuration>
    <mensuration name="poscode" caption="poscode" tolerate="6" unit="code" levels="" levelNames="" range="[0.0-1.0]" typeName="NWSELib.PositionCodeMeasure" dimension="1" ></mensuration>
    <mensuration name="onoff" caption="onoff" tolerate="0" unit="toggle" levels="2" levelNames="无,有" range="[0.0-1.0]" typeName="NWSELib.OnoffMeasure" dimension="1" ></mensuration>
    <mensuration name="index" caption="index" tolerate="0" unit="index" levels="0" levelNames="" range="[0.0-10000.0]" typeName="NWSELib.IndexMeasure" dimension="1" ></mensuration>
  </mensurations>
    
  <agent shorttermcapacity="20">
    <receptors>
      <env>
        <sensor name="d1" desc="left" cataory="distance" group="env.distance" abstractLevel="0">
          <properties>
            <property cataory="rotate" type="spatial" value="0.25"></property>
          </properties>     
        </sensor>
        <sensor name="d2" desc="left front" cataory="distance" group="env.distance" abstractLevel="0">
          <properties><property cataory="rotate" type="spatial" value="0.375"></property>
          </properties>
        </sensor>
        <sensor name="d3" desc="front" cataory="distance" group="env.distance" abstractLevel="0">
          <properties><property cataory="rotate" type="spatial" value="0.5"></property>
          </properties>
        </sensor>
        <sensor name="d4" desc="right front" cataory="distance" group="env.distance" abstractLevel="0">
          <properties><property cataory="rotate" type="spatial" value="0.675"></property>
          </properties>
        </sensor>
        <sensor name="d5" desc="right" cataory="distance" group="env.distance" abstractLevel="0">
          <properties><property cataory="rotate" type="spatial" value="0.75"></property>
          </properties>
        </sensor>
        <sensor name="d6" desc="rear" cataory="distance" group="env.distance" abstractLevel="0">
          <properties><property cataory="rotate" type="spatial" value="1.0"></property>
          </properties>
        </sensor>

      <!--  <sensor name="g1" desc="object radar" cataory="direction" group="env.obj.direction"  abstractLevel="1">
          <properties><property cataory="direction" type="spatial" value="0.5"></property>
          </properties>
        </sensor>
        <sensor name="gd" desc="object distance" cataory="distance" group="env.obj.distance"  abstractLevel="1" levels="10" levelNames="1,2,3,4,5,6,7,8,9,10">
          <properties/>
        </sensor>
         -->
        <sensor name="b" desc="collision" cataory="onoff" group="env.collision.reward"  abstractLevel="0">
        </sensor>
        <!-- <sensor name="pos" desc="position" cataory="poscode" group="env.position" abstractLevel="0">
        </sensor>-->
      </env>
      <gestures>
        <sensor name="heading" desc="heading" cataory="heading" group="body.heading" abstractLevel="0">
        </sensor>
      </gestures>
      
      <actions>
        <!-- <sensor name="_a1" cataory="speed" group="action" range="[0 - 1]" level="[5-5]"/>-->
        <!-- <sensor name="_a2" desc="rotate" cataory="direction" group="action" abstractLevel="1" levels="16" levelNames="-180度,-157.5度,-135度,-112.5度,-90度,-67.5度,-45度,-22.5度,0度,22.5度,45度,90度,112.5度,135度,157.5度,180度"/>-->
        <sensor name="_a2" desc="action" cataory="rotate" group="action" abstractLevel="0" />
      </actions>
    </receptors>
    <noise sensorNoise="0" effectorNoise="0" headingNoise="0"></noise> 
  </agent>

  <learning>
    <development step="200"></development>
    <inference accept_prob="0.85" accept_max_count="3" inference_distance="0.1"></inference>
    <imagination abstractLevel="0"></imagination>
  </learning>

  <evaluation repeat="false" reward_method="collision" timeStep="1.0" run_count="500" end_distance="60" gene_reability_range="[0.95-0.95+0.01]">
    <reward collision="-50" normal="0.1" away="1.0"></reward>
    <policy name="emotion" init_plan_depth="15" plan_reward_range="[-50,-50]" exploration="true" randomstage="100"></policy>
  </evaluation>
  
  <evolution propagate_base_count="2" iter_count="300">
    <selection min_population_capacity="30" max_population_capacity="150" reability_selection_limit="0.35"></selection>
    <mutate handlerprob="0.35,0.35,0.3,0,0,0,0,0,0,0"></mutate>  
  </evolution>

  <handlers>
    <handler name="diff" mininputcount="2" maxinputcount="2" paramcount="0" paramrange="0" typename="NWSELib.net.handler.DiffHandler" selection_prob_range="[0-1+0.01]"></handler>
    <handler name="variation" mininputcount="1" maxinputcount="1" paramcount="0" paramrange="" typename="NWSELib.net.handler.VariationHandler" selection_prob_range="[0-1+0.01]"></handler>
    <handler name="direction" mininputcount="1" maxinputcount="2" paramcount="0" paramrange="" typename="NWSELib.net.handler.DirectionHandler" selection_prob_range="[0-1+0.01]"></handler>
    <handler name="property" mininputcount="1" maxinputcount="1" paramcount="0" paramrange="" typename="NWSELib.net.handler.PropertyHandler" selection_prob_range="[0-1+0.01]"></handler>
    <handler name="argmax" mininputcount="2" maxinputcount="2" paramcount="0" paramrange="0" typename="NWSELib.net.handler.ArgmaxHandler" selection_prob_range="[0-1+0.01]"></handler>
    <handler name="argmin" mininputcount="2" maxinputcount="2" paramcount="0" paramrange="0" typename="NWSELib.net.handler.ArgminHandler" selection_prob_range="[0-1+0.01]"></handler>
    <handler name="avg" mininputcount="2" maxinputcount="2" paramcount="0" paramrange="0" typename="NWSELib.net.handler.AverageHandler" selection_prob_range="[0-1+0.01]"></handler>
    <handler name="composite" mininputcount="2" maxinputcount="2" paramcount="0" paramrange="0" typename="NWSELib.net.handler.CompositeHandler" selection_prob_range="[0-1+0.01]"></handler>
    <handler name="projection" mininputcount="1" maxinputcount="1" paramcount="0" paramrange="" typename="NWSELib.net.handler.ProjectionHandler" selection_prob_range="[0-1+0.01]"></handler>
    <handler name="sample" mininputcount="1" maxinputcount="1" paramcount="1" paramrange="[2-10]" typename="NWSELib.net.handler.SampleHandler" selection_prob_range="[0-1+0.01]"></handler>
  </handlers>
  
  <view width="1300" height="850"></view>
</configuration>
