################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/NWSELib/.vs/NWSELib/v16
/NWSELib/NWSELib/obj/Debug/netstandard2.0
